services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: smartwarehouse
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - my-network  
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 512M

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - my-network  
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 100M

  backend:
    build: ./smart_warehouse
    ports:
      - "8000:8000"
    working_dir: /app
    command: sh -c "python manage.py migrate && python manage_init_data.py && daphne -b 0.0.0.0 -p 8000 smart_warehouse.asgi:application"
    environment:
      DB_HOST: db
      DB_NAME: smartwarehouse
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - my-network  
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 512M

  frontend:
    build: ./frontend
    container_name: smart_warehouse-frontend
    command: npm start
    networks:
      - my-network  
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - backend
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 512M

  robot_emulator:
    build: ./robot_emulator
    container_name: smart_warehouse-robot_emulator
    command: python emulator.py
    volumes:
      - ./robot_emulator:/app
    networks:
      - my-network  
    environment:
      BACKEND_URL: http://backend:8000
    depends_on:
      - backend
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

  nginx:
    restart: unless-stopped
    build:
        context: .
        dockerfile: ./Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - my-network  
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 128M
        
volumes:
  pgdata:

networks:
  my-network:
    driver: bridge
